.campo-texto {
    margin: 24px 0px;

}

.campo-texto > label{
/* font-weight: bold; */
display: block;
margin-bottom: 8px;
font-size: 24px;
}

.campo-texto > input{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.288) 10px 10px 10px;
width: 100%;
border: none;
font-size: 24px;
padding: 24px;
box-sizing: border-box;

}